<div class=" ">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            animate <br>
            [0-disable]: <br>
            <input type="number" ng-model="animateCurveTime" ng-change="redraw();" ng-model-options="{debounce: 600 }">
            <br>
            <br>
            a=
            <input type="number" ng-model="a" ng-change="draw4();" ng-model-options="{debounce: 600 }">

            <br>
            b=
            <input type="number" ng-model="b" ng-change="draw4();" ng-model-options="{debounce: 600 }">

            <br>
            m=
            <input type="number" ng-model="m" ng-change="draw4();" ng-model-options="{debounce: 600 }">

            <br>
            M=
            <input type="number" ng-model="MM" ng-change="draw4();" ng-model-options="{debounce: 600 }">

            <br>
            <button ng-click="draw4();">redraw</button>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <button ng-click="redraw()">[?]</button>

        </div>
        <div class="col-md-10" id="canvas-main">
            <h5>
                X={{mouse.x}}
                Y={{mouse.y}}
            </h5>
            <canvas id="arpoly-1" width="800" height="600">Ваш браузер не поддерживает canvas.</canvas>
        </div>
    </div>
    <div class="col-md-12  ">
        <br>
        <ul>
            <li ng-repeat="point in polygon track by $index">
              <!--{{$index + 1}}. -->
                <b>(</b>{{point[0]}}, {{point[1]}}<b>)</b>
            </li>
        </ul>
    </div>
</div>

<style>
    #bezier {
        border-width: 1px;
        border-style: solid;
        background: #FAFAFA;
    }
</style>
